# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_module.html
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/systemd_module.html#examples
- hosts: ubt_terraformed
  become: yes  
  tasks: 
    - name: Install apache2
      apt:
        name: apache2
        state: latest
        update_cache: yes

    - name: Enable service apache and ensure it is not masked
      systemd:
        name: apache2
        enabled: yes
        masked: no

    - name: ensure apache is started
      systemd:
        state: started
        name: apache2

    - name: copy the modified index.html
      copy:
        src: ./assets/index.html
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: 0644